<!DOCTYPE html>
<html class="no-js">

<head>
  <% include partials/head %>
</head>

<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/"><img class="img-fluid" id="logo" src="images/BOTONES/logo.png" alt="Logo"> </a>
        </div>
        <ul class="nav navbar-nav">          
          <li><a href="logout"><img id="logout" src="images/BOTONES/Logout.png" alt="logout"></li></a>
        </ul>
      </div>
    </nav>
  </header>
 
  <!-- section Start -->
  <section id="seccionAdminFruta">
    <center>
        <center><h1>MANTENIMIENTO</h1></center>
      <div class="row justify-content-center"> 
        <div id="listaFrutaCosta" class="col-md-6 col-sm-6">
          <h2 id="game-page-title">Costa</h2>
          <a href="#divform"> <img class="img-fluid" src="../images/BOTONES/NUEVO.png" id="btnNuevaFrutaC"></a>
        </div>
        <div id="listaFrutaSierra" class="col-md-6 col-sm-6">
          <h2 id="game-page-title">Sierra</h2>
          <a href="#divform"> <img class="img-fluid" src="../images/BOTONES/NUEVO.png" id="btnNuevaFrutaS"></a>
        </div>
      </div>
      <div class="row justify-content-center">

      </div>
       <!-- FORMULARIO -->
    
    </center>
  </section>
  <!-- <div id="divformCategoria">   </div> -->
  <div id="divform">   </div>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="./js/administrador.js"></script>
  <script src="./js/bootstrap.js"></script>
  <script src="./js/bootstrap.min.js"></script>

</body>

</html>