<!DOCTYPE html>
<html class="no-js">

<head>
  <% include partials/head %>
</head>

<body>

  <!--Logo-->
  <% include partials/menu %>

  <center>
  <a href="#"><img class="img-fluid" src="images/BOTONES/INICIAR.png" id="btnIniciar"></a>
  </center>

  <% include partials/scripts %>
</body>

</html>